.title-home {
    margin-top: 188px;
    transition: 0.4s;
    &.hide {
        margin-top: 92px;
    }
}
h2 {
    display: flex;
    align-items: center;
    height: 50px;
    
    padding: 0 20px;
    font-size: 15px;
    font-weight: bold;
}
